.navbar {
    height: 6vw;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column
}

.navbar-top {
    margin-top: 10px;
}

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
    color: rgb(146, 162, 135);
}

.navbar-bottom {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.navbar-bottom a {
    font-weight: 900;
}

.navbar-bottom a:hover {
    animation-name: underline;
    cursor: pointer;
    animation-timing-function: ease-in-out;
    animation-duration: 0s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes underline {
    from {
        text-decoration: none;
    }

    to {
        text-decoration: 2px solid white underline;
    }

}

.hero-section {
    height: 60vw;
    background-image: url('./photos/wide_image_hero_section.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.work-section {
    margin-top: 100px;
    height: 70vw;
    background-image: url('./photos/work-photo-section/works-section-bg.jpg');
    background-size: cover;
}

.works-photos-section {
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
}

.box {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 10);

}

/* .box::before {
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 1) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
} */

.box:hover {
    animation-name: image-grow;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes image-grow {
    from {}

    to {
        transform: scale(1.2) rotate(5deg);
    }


}

.box:nth-child(1) {
    background-image: url("./photos/work-photo-section/photo1.jpeg");
    background-size: cover;
}

.box:nth-child(2) {
    background-image: url("./photos/work-photo-section/photo2.jpeg");
    background-size: cover;
}

.box:nth-child(3) {
    background-image: url("./photos/work-photo-section/photo3.jpeg");
    background-size: cover;
}

.box:nth-child(4) {
    background-image: url("./photos/work-photo-section/photo4.jpeg");
    background-size: cover;
}

.box:nth-child(5) {
    background-image: url("./photos/work-photo-section/photo5.jpeg");
    background-size: cover;
}

.box:nth-child(6) {
    background-image: url("./photos/work-photo-section/photo6.jpeg");
    background-size: cover;
}

.box:nth-child(7) {
    background-image: url("./photos/work-photo-section/photo7.jpeg");
    background-size: cover;
}

.box:nth-child(8) {
    background-image: url("./photos/work-photo-section/photo8.jpeg");
    background-size: cover;
}


.work-section-h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.work-section-h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: #e4b51f !important;
}

.about-me {
    margin-top: 150px;
    height: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #e5e5e5;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.about-me-text {
    width: 50%;
}

.about-me-text-head {
    font-size: 3rem;
    font-style: Monospace;
    font-weight: 700;
}

.about-me-text-self {
    font-size: 1.1rem;
    font-style: Monospace;
    font-weight: 600;
}

.about-me-photo {
    width: 50%;
}

.my-border {
    border: 2px solid black;
}

.footer {
    height: 20vw;
    background-color: black;
    margin-top: 30px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-text-head {
    padding-top: 40px;
    font-size: 1.5rem;
}


.next-section {
    height: 30vw;
}

.my-margin-right {
    margin-right: 10px;
}

.footer-columns p {
    color: #e5e5e5;
}