.navbar {
    height: 6vw;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column
}

.navbar-top {
    margin-top: 10px;
}

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
    color: rgb(146, 162, 135);
}

.navbar-bottom {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.navbar-bottom a {
    font-weight: 900;
}

.navbar-bottom a:hover {
    animation-name: underline;
    cursor: pointer;
    animation-timing-function: ease-in-out;
    animation-duration: 0s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes underline {
    from {
        text-decoration: none;
    }

    to {
        text-decoration: 2px solid white underline;
    }

}

.hero-section {
    height: 60vw;
    background-image: url('./photos/wide_image_hero_section.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.work-section {
    margin-top: 40px;
    height: 70vw;
}

.works-photos-section {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.box {
    height: 100%;
    width: 100%;
}

.box:nth-child(1) {
    background-image: url("./photos/work-photo-section/photo1.jpeg");
    background-size: cover;
}

.box:nth-child(2) {
    background-image: url("./photos/work-photo-section/photo2.jpeg");
    background-size: cover;
}

.box:nth-child(3) {
    background-image: url("./photos/work-photo-section/photo3.jpeg");
    background-size: cover;
}

.box:nth-child(4) {
    background-image: url("./photos/work-photo-section/photo4.jpeg");
    background-size: cover;
}

.box:nth-child(5) {
    background-image: url("./photos/work-photo-section/photo5.jpeg");
    background-size: cover;
}

.box:nth-child(6) {
    background-image: url("./photos/work-photo-section/photo6.jpeg");
    background-size: cover;
}

.box:nth-child(7) {
    background-image: url("./photos/work-photo-section/photo7.jpeg");
    background-size: cover;
}

.box:nth-child(8) {
    background-image: url("./photos/work-photo-section/photo8.jpeg");
    background-size: cover;
}

.about-self {
    height: 40vw;
}