.navbar {
    height: 5vw;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column
}

.navbar-top {
    margin-top: 10px;
}

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
    color: rgb(146, 162, 135);
}

.navbar-bottom {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.navbar-bottom a {
    font-weight: 900;
}

.navbar-bottom a:hover {
    animation-name: underline;
    cursor: pointer;
    animation-timing-function: ease-in-out;
    animation-duration: 0s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes underline {
    from {
        text-decoration: none;
    }

    to {
        text-decoration: 2px solid white underline;
    }

}

.hero-section {
    height: 60vw;
    background-image: url('./photos/wide_image_hero_section.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}