@media (max-width:600px) {
    .navbar {
        display: none;
    }

    .menu-navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .mobile-navbar {
        height: 15vw;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        color: white;
    }

    .menu-icon {
        color: white;
    }

    .mobile-sidebar {
        height: 80%;

    }
}